<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/homepage.css">
    <title>Home</title>
</head>

<body>
    <div class="banner">
        <img src="../Images/TeaStirLogo.svg" alt="TeaStir" id="logo">
    </div>
    <div class="cta-caption">
        <h1 class="cta-text p-lg-3">What <%=name%> of Tea do You Prefer?</h1>
    </div>
    <!-- Survey based on tea types -->
    <!-- This form will collect user's inputs of their preferences in the form of radios -->
    <!-- When the user hit the "Next" button, the form will get submitted by the method of post -->
    <!-- Then, users will continue with the second servey page and which will be tea by flavour -->
    <form class="form p-2" action="/<%=name%>" method="POST" id="formData">
        <table class="text-center m-auto">
            <% var i = 0;
            while(i < options.length) { %>
            <tr class="options">
                <th>
                  <!-- Herbal & corresponding choices -->
                    <h3 class="cta-text pb-2"> <%=options[i]%> </h3>
                </th>
                <th class="p-lg-3">
                    <input type="radio" name="<%=options[i]%>" id="<%=options[i]%>" value="4">
                    <label class="form-check-label pe-5" for="<%=options[i]%>">Love</label>
                    <input type="radio" name="<%=options[i]%>" id="<%=options[i]%>" value="3">
                    <label class="form-check-label pe-5" for="<%=options[i]%>">Like</label>
                    <input type="radio" name="<%=options[i]%>" id="<%=options[i]%>" value="2" checked>
                    <label class="form-check-label pe-5" for="<%=options[i]%>">Not Sure</label>
                    <input type="radio" name="<%=options[i]%>" id="<%=options[i]%>" value="1">
                    <label class="form-check-label pe-5" for="<%=options[i]%>">Dislike</label>
                    <input type="radio" name="<%=options[i]%>" id="<%=options[i]%>" value="0">
                    <label class="form-check-label pe-5" for="<%=options[i]%>">Hate</label>
                    <hr>
                </th>
                <% if(i+1 < options.length){ %>
                <th>
                    <!-- Herbal & corresponding choices -->
                      <h3 class="cta-text pb-2"> <%=options[i+1]%> </h3>
                  </th>
                  <th class="p-lg-3">
                      <input type="radio" name="<%=options[i+1]%>" id="<%=options[i+1]%>" value="4">
                      <label class="form-check-label pe-5" for="<%=options[i+1]%>">Love</label>
                      <input type="radio" name="<%=options[i+1]%>" id="<%=options[i+1]%>" value="3">
                      <label class="form-check-label pe-5" for="<%=options[i+1]%>">Like</label>
                      <input type="radio" name="<%=options[i+1]%>" id="<%=options[i+1]%>" value="2" checked>
                      <label class="form-check-label pe-5" for="<%=options[i+1]%>">Not Sure</label>
                      <input type="radio" name="<%=options[i+1]%>" id="<%=options[i+1]%>" value="1">
                      <label class="form-check-label pe-5" for="<%=options[i+1]%>">Dislike</label>
                      <input type="radio" name="<%=options[i+1]%>" id="<%=options[i+1]%>" value="0">
                      <label class="form-check-label pe-5" for="<%=options[i+1]%>">Hate</label>
                      <hr>
                  </th>
            </tr>
            <% } 
              i += 2;
            } %>
        </table>
        <input type="hidden" name="surveyRatings" id="hiddenData" />
        <input type="hidden" name="<%=name%>" id="optionType" />
        <div class="cta-btn-div pt-lg-5">
            <button class="cta-btn cta-btn-text" id="next-btn" type="button">Next</button>
        </div>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/survey.js"></script>
    
</body>

</html>